
@import "bootstrap.css";
$color_gray: rgb(236, 236, 236);
$color_gray2: #344346;
$color_pink: #EEAEAF;
$color_red: #E79288;
$color_blue: #81C4C9;
$color_blue2: #032E32;
$color_brown: #D2CEAA;

* {
  font-family: "Source Sans Pro", 微軟正黑體;
  line-height: 1.6em;
  

//   border: solid 1px #aaa;

    a{
        color:$color_blue2;
        border: none;
        text-decoration:none;
    }
  
}
html,body{
    overflow-x: hidden;
    background-color: $color_blue2;
   
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
//   color:$color_blue2;
}
.container{
    padding-left: 0;
    padding-right: 0;
}
.row{
    margin: 0;
}

.block {
  border-left: solid 1px #aaa;
  border-right: solid 1px #aaa;
}

.border {
  border: solid 1px #aaa;
}
// .contain{
//     padding-right: 50px;
//     padding-right: 600px;
// }


////menu
// .navbar-brand{
//     img{
//         width:30%;
//     }
// }


  
//首頁
.index_img{
    width: 100%;
}
.index{
    position: relative;
    background-color: $color_gray;
    padding: 5% 50px 0 50px;
    // border-bottom: solid 100px #819FA6;

}
.logo1{

    // position: absolute;
    animation: logo 5s infinite;
    
}
@keyframes logo {
    0% {
        top: 0;
    }
    50% {
        top:-30px;
    }
    100% {
        top:0;
    }
  }

.people1{
    animation: people 5s infinite;

}
@keyframes people {
    0% {
        left: 0;
    }
    50% {
        left:-20px;
    }
    100% {
        left:0;
    }
  }

.index_mountain{
    position: absolute;
    max-width:100%;
    
    left: 0;
    bottom: -450px;
    z-index: 50;
    
}

// 金句_引言
.introduction{
    background: #0A2D31;
    height: 900px;
    position: relative;
    p{
        font-size: 18px;
        color:$color_gray;
        font-weight: bold;
        text-align: center;
        margin-top: 500px;
    }
    .intro_decoration{
        position: absolute;
        bottom:-304px;
        max-width: 100%;
        z-index: 150;
    }
    
    .intro_decorate{
        position: absolute;
        max-width: 100%;
    }
    .decorate_bottom{
        bottom:-1px;
    }
}
//金句1
.point1{
    position: relative;
    padding-top: 200px;
    background-color: $color_gray;
    
}
.point1_img{
    max-width: 100%;
    
}
.point1_img2{
    position: absolute;
    max-width: 45%;
    right: -100px;
    bottom: -100px;
    animation: ani_pig 2s infinite;
}
@keyframes ani_pig {
    0% {
        transform:rotate(0deg);
    }
    50% {
        transform:rotate(20deg);
    }
    100% {
        transform:rotate(0deg);
    }
  }
.pig_talk{
    animation: pig_talk 2s infinite;
}
@keyframes pig_talk {
    0% {
        top: 80px;
    }
    50% {
        top:100px;
    }
    100% {
        top:80px;
    }
  }

h3{
    
    overflow-y: hidden;
    flood-color: $color_blue2;
    // padding-bottom: 80px;
    
}

// .text_point{
//     position: absolute;
    
//     z-index: 2;
//     top: -150px;
//     left: 300px;
//     transform:rotate(-10deg);
//     color: #fff;
// }

// 學習導引
@import "bar_box.css";

//長短期介紹
.intro1{
    background-color: $color_gray;
    padding: 100px 0;
    
    h3{
        
        font-size: 20px;
        display: inline-block;
        color: white;
        margin-top: 15px;
        padding: 10px 20px;
    }
    // p{
    //     color:$color_gray2;
    // }
}

.step_pink{
    color: $color_pink;
}
.step_blue{
    color: $color_blue;
}
.contain_pink{
    background: $color_pink;;
    border-radius: 10px;
    color:rgb(236, 236, 236);
    padding-left: 5px;
    
}
.contain_blue{
    background: $color_blue;;
    border-radius: 10px;
    color:rgb(236, 236, 236);
    padding-left: 5px;
    
}
.Text{
    padding: 80px 100px;   
    // padding-top: 100px;
    // padding-bottom: 100px;
    font-weight: bold;
    font-size: 18px;
    margin: auto;
    transform:rotate(5deg);
    margin-top: 60px;


    
}
.title{
    
    display: inline-block;
    // height: 60px;
    // width: 100px;
    // color: white;
    font-size: 26px;
    padding: 5px;
    
}
.Text_long{
    transform:rotate(5deg);
    h3{
        background: $color_pink;
        transition: 0.5s;
    }
    h3:hover{
        background: $color_blue;
        color: white;
        font-size: 25px;
    }
}
.Text_short{
    transform:rotate(-5deg);
    h3{
        background: $color_blue;
        transition: 0.5s;
    }
    h3:hover{
        background: $color_pink;
        color: white;
        font-size: 25px;
    }
    
}

.Title1{
    border: 3px solid $color_pink;
}
.Title2{
    border: 3px solid $color_blue;
}

.img_LS{
    
    img{
        margin-top: 60px;
        padding-top: 50px;
        padding-bottom: 100px;
        width: 70%;
    }
    
}
.img_1{
    // position: absolute;
    // padding-right: -100px;
    display: block;
    left: 25px;
    width:120%;

}

.decorate{
    padding-left: 100px;
    
}




//金句2
.point2{
    
    padding-top: 400px; 
    background-color: $color_gray;
}
.textFrame2{
    position: absolute;
    max-width: 50%;
    left: 200px;
    bottom: 100px;
}

.marginbottom{
    position: absolute;
    max-width: 70%;
    right: 0;
    bottom: -10px;
    animation: people 5s infinite;
}

@keyframes people {
    0% {
        right: 0;
    }
    50% {
        right:20px;
    }
    100% {
        right:0;
    }
  }




@import url(video.css);



//遊戲介紹
.game {
    background-color: #EEAEAF;
    padding: 150px 0 200px 0;
    position: relative;
      .intro_decorate{
        position: absolute;
        max-width: 100%;
    }
    .decorate_bottom{
        bottom:-1px;
    }
}
.game_intro{
    padding: 0 100px;
}
.game_title{
    text-align: left;
}

.game_BTN{
    background: #032E32;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
}
.threePeople{
    // position: absolute;
    max-width:90%;
    margin-left: 50px ;
    
    
} 

//組員介紹
.member{
    padding: 80px 50px;
    padding-bottom: 50px;
    background-color: $color_gray;
    p{
        font-size: 15px;
        
    }
}
.member_contain{
    padding: 0;
    text-align: center;
    h3{
        font-weight: bold;
        font-size: 20px;
        padding-top: 10px;
        display: inline-block;
    }
    
}
.member_pic{
    margin-right: auto;
    margin-left: auto;
    padding: auto;
    height: 150px;
    width: 150px;
    
    img{
        height: 150px;
        width: 150px;
    }
    
}
.botton{
    background: $color_blue2;
    position: relative;
    p{
        color: white;
        font-size: 8px;
        text-align: center;
        margin: 20px 0;
    }
    .Top{
        width: 80px;
        height: 80px;
        background: $color_pink;
        position: absolute;
        bottom: 100px;
        right: -120px;
        box-shadow: 5px 5px 0px $color_red;
        transform:rotate(5deg);
        transition: 0.5s;
        
        h3{
            color:white;
            text-align: center;
            padding-top: 27px;
            font-size: 20px;
        }
        
    }
    .Top:hover{
        background: $color_blue;
        box-shadow: 10px 10px 0px $color_brown;
        transform: translate(10px,10px);
        

    }
    
}



// * {
//   font-family: 微軟正黑體;
//   color: rgb(255, 255, 255);
//   letter-spacing: 1px;
// }

// @import "RWD.css";

//RWD 微調
@media(max-width: 1200px){
    .introduction{
        height: 400px;
        position: relative;
        p{
            font-size: 14px;
            
            margin-top: 150px;
        }
        .intro_decoration{
            visibility: hidden;
            position: absolute;
            bottom:-86px;
            width: 1140px;
        }
    }
}
@media(max-width: 992px){
    .menu_contanter {
        
        height: 300px; //影片選單在這時的長度   
    }
    // 首頁
    .index_mountain{
        
        width: 100%;
        bottom: -1000px;
       
    }
    .introduction{
        height: 400px;
        position: relative;
        p{
            font-size: 14px;
            
            margin-top: 150px;
        }
        .intro_decoration{
            visibility: hidden;
            position: absolute;
            bottom:-86px;
            width: 1140px;
        }
    }
    
    //長短期

    .img_long{
        position: relative;  
    }
    .img_short{
        position: relative;  
    }
    .Text{
        padding: 80px 50px;   
        font-size: 15px;
        
    }
    .order_1{
        order:2;
    }
    .order_2{
        order:1;
    }
}
@media(max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .navbar_ul{
        margin-left: 0 ;
        
    }
    // 首頁
    .index_img{
        width: 120%;
    }
    .index{
        
        padding: 50px 50px 0 50px;

        // border-bottom: solid 100px #819FA6;
    
    }
    .index_mountain{
        
        width: 100%;
        bottom: -70px;
       
    
    }
    .logo1{

        // position: absolute;
       
        left: -15px;
    }

    .introduction{
        height: 400px;
        position: relative;
        p{
            font-size: 14px;
            
            margin-top: 150px;
        }
        .intro_decoration{
            position: absolute;
            bottom:-80px;
            width: 1140px;
        }
    }
    .point1{
        position: relative;
    
    }
    .pig_talk{
        position: absolute;
        width: 100%;
        top:100px ;
    }
    .img_LS{
    
        img{
            margin-top: 20px;
            padding-top: 30px;
            padding-bottom: 10px;
        }
        
    }
    .img_long{
        position: relative;  
    }
    .img_short{
        position: relative; 
        right: -80px;
    }
    .Text{
        padding:40px 50px;  
        margin-top: 10px;
    }
    .order_1{
        order:2;
    }
    .order_2{
        order:1;
    }
    //金句1
    .point1{
        padding-top: 200px;
        
        
    }
    .point1_img2{
        max-width: 45%;
        right: 30px;
        bottom: -100px;
        
    }
    .textFrame1{
        max-width: 90%;
        right: 45px;
        top:-150px;
        
    }
    //金句2
    .point2{
        padding-top: 200px  ; 
        
    }
    .textFrame2{
        position: absolute;
        max-width: 50%;
        left: 100px;
        bottom: 100px;
    }

    // 成員
    .member{
        padding: 80px 10px;
        padding-bottom: 50px;
        
    }
    
}